body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

#current-score {
    border: 1px solid #ccc;
    width: 100%;
}

input[type="number"], input[type="text"], input[type="password"], input[type="email"], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    font-size: xx-large;
}


button {
    background-color: #4CAF50;
    color: white;
    margin: 1px 1px;
    border: none;
    cursor: pointer;
    font-size: x-large;
    height: 68px;
    width: 73px;
}

button:disabled {
    background-color: #8d8d8d;
    color: black
}

#next {
    padding: 14px 20px;
    border: none;
    font-size: x-large;
    width: 100%;
    line-height: 1.5em;
}